@media only screen and (min-width: 992px){
	.navbar a {
		font-size: 40px;
	}

	.space-left {
		margin-left: 220px!important;
	}

	.div-space-left {
		padding-left: 220px!important;
	}

	h3 {
		position: relative;
		font-size: 90px!important;
		top: -50px;
		height: 50px;
		z-index: 1;
	}

	h2 {
		font-size: 100px!important;
		position: relative;
		top: 60px;
		letter-spacing: 30px;
	}

	.name h1{
		color: white;
		font-size: 80px!important;
		transform: perspective(180px) rotateY(25deg);
		font-weight: bolder;
	}
	.webdev h1{
		font-size: 80px;
		transform: perspective(140px) rotateY(-15deg);
		font-weight: bolder;
	}

	.webdev h1 + h1 {
		font-size: 50px!important;
	}

	.tech-stack img {
		width: 100px!important;

	}

	.container-fluid>div {
		margin-bottom: 50px!important;
	}

	#landingPage + div {
		margin-bottom: 100px!important;
	}

	#projectsPage>div {
		margin-bottom: 100px!important;
	}

	.navbar-expand-lg {
		width: 220px!important;
		height: 100vh;	
	}


}

@media only screen and (min-width: 1200px){
	p {
		font-size: 15px!important;
	}

	h3 {
		font-size: 130px!important;
		position: relative;
		top: -80px;
		height: 80px;
		z-index: 1;
	}

	#projectsPage>div {
		padding: 50px!important;
	}

	.tech-stack img {
		width: 150px!important;

	}


}

@media only screen and (min-width: 1400px){
	p {
		font-size: 20px!important;
	}

	#projectsPage>div {
		padding: 100px!important;
	}
}

@media only screen and (max-width:  992px) {
	h3 {
		font-size: 50px!important;
		position: relative;
		top: -30px;
		height: 20px;
		z-index: 1;
	}

	.tech-stack img {
		width: 70px!important;
	}


	#landingPage + div {
		margin-bottom: 30px!important;
	}

	#projectsPage>div {
		margin-bottom: 80px!important;
	}

	h2 {
		font-size: 50px!important;
		position: relative;
		top: 40px;
		letter-spacing: 12px;
	}

	.name h1{
		color: white;
		font-size: 60px!important;
		transform: perspective(180px) rotateY(15deg);
		font-weight: bolder;
	}
	.webdev h1{
		font-size: 60px;
		transform: perspective(180px) rotateY(-15deg);
		font-weight: bolder;
	}

	.webdev h1 + h1 {
		font-size: 30px!important;
	}

	.navbar-collapse{
		background-color: white;
		opacity: .8;
	}

}

div .collapse {
	height: 50vh!important;
}

#landingPage .jumbotron {
	border-radius: 0!important;
	background-color: none;
}

#aboutPage .jumbotron {

}

#contactPage .jumbotron {
	height: 400px;	
}

.viewport-height {
	height: 100vh;
}

.tech-stack {
	position: relative;
	top: -80px;
}

.contact-cards {
	position: relative;
	top: -300px;

}

.contact-cards .card {
	height: 600px!important;
}

.tech-stack img {
	background-color: white;
	border: 0px solid black;
	border-radius: 50%;
	margin: 10px;
	box-shadow: 2px 1px 2px #524DFF;
}

footer .jumbotron {
	height: 250px;

}

footer {
	margin-top: -200px;
}

footer i {
	font-size: 40px;
	background: -webkit-linear-gradient(#4568dc,#b06ab3);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.fa-bars {
	color: gray;!important;
}


/*hover effect*/
.nav-item span {
	position: relative;
	display: block;
	cursor: pointer;
	color: black;
}

.nav-item span:before {
	content: '';
	width: 0;
	z-index: -1;
	position: absolute;
	height: 20px;
	top: 40%;
	left: -10%;

}

.nav-item span:hover:before {
	width: 120%!important ; 
	transition: width 0.5s!important ;

}

.hover-red span:before {
	background: #7772F9;
}

.hover-blue span:before {
	background: powderblue;
}

.hover-yellow span:before {
	background: lightpink;
}

.hover-gray span:before {
	background: royalblue;
}

/*ordinary*/
.ordinary {
	position: relative;
	display: block;
	cursor: pointer;
}

.ordinary span:before {
	content: '';
	position: absolute;
	width: 0%;
	height: 3px;
	top: 50%;
	margin-top: -0.5px;
	background: #fff;
	animation-name: strikethrough;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}


@keyframes strikethrough {
	from {width: 0%;}
	to {width: 25%;}
}

/*customized components*/
.project-button {
	width: 100%;
	height: 60px;
	color: white!important;
	background: linear-gradient(to right,#4568dc,#b06ab3);
	font-size: 20px!important;
}

/*typhography*/
p {
	font-size: 12px;
	text-align: justify;
	font-family: "Futura", sans-serif;
}

h2 {
	background: -webkit-linear-gradient(#4568dc,#b06ab3);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
h2, h3, h1 {
	font-family: "Helvetica", sans-serif;
}


.navbar a {
	font-family: "Helvetica", sans-serif;
	font-style: italic;
}

.webdev h1, .webdev h1+h1 {
	background: -webkit-linear-gradient(#4568dc,#b06ab3);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
} 





